.center-all {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    div {
        background: rgb(65, 40, 40);
    }
}

.text-stroke {
    $color: red !default;
    $width: 2.5px !default;

    color: transparent;
    -webkit-text-stroke: var(--width, $width) $color;
    // -webkit-text-stroke: $width $color;
}

.highlight {
    $color: white !default;
    color:white;
    font-weight: 600;
}

.highlight.underline {
    color:red;
    font-weight: 700;
    text-transform: uppercase;
}
